<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Tox</title>

    <!--<link rel="stylesheet" href="../assets/styles/tox.css">-->
    <link rel="stylesheet" href="../assets/styles/tox-login.css">
  </head>
  <body>
    <div id="wrapper" class="unselectable">
      <aside id="tox-login-info">
        <section id="presentation">
          <div id="tox-logo"></div>
          <h1>Tox</h1>
        </section>
        <section id="links">
          <a href="tox://main-window">
            <span class="fa fa-user-plus"></span>
            Register
          </a>
          <!--<a href="#">Settings</a>-->
        </section>
      </aside>
      <main id="tox-login-container">
        <!--<div id="profile-errors">
          <span class="fa fa-exclamation-triangle"></span>
          Password is incorrect.
        </div>-->
        <div id="profile-wrapper">
          <section id="profile">
            <div id="profile-avatar" class="avatar-default"></div>
            <div id="profile-stuff">
              <input type="text" id="profile-name" placeholder="Profile name...">
              <input type="password" id="profile-pass" placeholder="Profile decryption password...">
            </div>
          </section>
          <section id="profile-actions">
            <input type="checkbox" id="remember">
            <label for="remember">Remember password?</label>
            
            <button id="button-login">Login</button>
          </section>
        </div>
      </main>
    </div>
  </body>
</html>
